<br>
<% unless @question.references.blank? %>
<div class = "content-body">
<h2>List of Related Verses</h2>
<ol>
  <% @question.references.each_with_index do|r,i| %>
 <br><h3> <%=truncate(r.issue, :length => 50, :omission => '...') %></h3>
   <div class = "show-verse-number-questionpage"><%=  parse_tags(r.from,r.to,r) %></div>
    <div class="clear"></div><br />
      <p> <%= truncate(@verses[r.id.to_s].translate_to("eng")[0].text, :length => 300, :omission => '...') %></p>
      <div class="view-details"><%=  parse_tags_detail(r.from,r.to,r) %></div>
      <div class = "separator-issue-width <%= verses_list_class(i+1,@question.references.count)%>"></div>
  <% end %>
       
</ol>
</div>
<% end %>
