<% unless @questions.first.blank? %>
<%= bread_crumb_questions(@questions.first) %>
<%end%>
<%if logged_in?%>
<br>
<div class = "content-body1">
<div class ="admin-page"> <h1>Listing <%= @sub_topic.name unless @sub_topic.blank? %> Questions</div></h1></div>
<table class="admin-view">
  <tr>
    <th>Question</th>
    <th>Topic</th>
    <th colspan="3">Actions</th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%=h question.quest %></td>
    <td><%=h question.sub_topic.topic.name %></td>
    <td><%= link_to 'Show', topic_sub_topic_question_path(@sub_topic.topic,@sub_topic,question) %></td>
    <td><%= link_to 'Edit', edit_topic_sub_topic_question_path(@sub_topic.topic,@sub_topic,question) %></td>
    <td><%= link_to 'Destroy', topic_sub_topic_question_path(@sub_topic.topic,@sub_topic,question), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<div class="dashboard">
  <%= link_to 'Add new Question', new_topic_sub_topic_question_path(@sub_topic.topic,@sub_topic) %>
</div>

<br />
  <%= link_to 'Back', topic_sub_topic_path(@sub_topic.topic,@sub_topic) %>

  <%end %>
  <%if !(logged_in?)%>
    <div class="content-body">
    <h1>Questions in <%=h @sub_topic.name %></h1>
   <div class="list-questions">
    <ol>
       <% @questions.each do |q| %>
        <li>
          <%= link_to q.quest,topic_sub_topic_question_url(q.sub_topic.topic, q.sub_topic, q) %>
           </li>
        <% end %>
     <%end%>
     </ol>
    </div>
    </div>
