<br><div class = "content-body-admin">
<div class = "content-body1">
<br><div class ="admin-page"> <h1>New question</div></h1></div>

<% form_for @question,:url => topic_sub_topic_questions_path(params[:topic_id],params[:sub_topic_id]), :method => :post do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :sub_topic_id %><br />
    <%= select("question", "sub_topic_id", SubTopic.find_all_by_topic_id(params[:topic_id]).collect {|t| [ t.name, t.id ] }) %>
  </p>
  <p>
    <%= f.label :Question %><br />
    <%= f.text_field :quest %>
  </p>
  <p>
    <%= f.label :Answer %><br />
    <%= f.text_area :answer %>
  </p>
  <div id="alternate_phrases">
      <label for="question_sub_topic_id">Alternate Phrases</label><br />
    <% @question.alternate_phrases.each do |alternate_phrase| %>
      <% fields_for "question[alternate_phrase_attributes][]", alternate_phrase do |phrase_form|%>
        <%= phrase_form.text_field :content, :class => 'alternate_phrase_field' %><br />
      <% end %>
    <% end %>
  </div>
  <br>
   <p>
    <%= link_to ('Add Another','#',{:id =>'add_button'}) %>
  </p>
  <div id="references">
    <% @question.references.each do |reference| %>
      <% fields_for "question[reference_attributes][]", reference do |reference_form|%>
    <p>
      <%= reference_form.label :issue, "Issue Addressed"%>
    </p>
    <p>
        <%= reference_form.text_area  :issue, :class => 'issue_field' %>
    </p>
     <p>
        Enter Sura and Aya number like From 1:1 To 1:7 
      <p><%= reference_form.label :from, "From"%>
      <%= reference_form.text_field :from, :class => 'issue_from_field' %>
      <%= reference_form.label :to, "To"%>
      <%= reference_form.text_field :to, :class => 'issue_to_field' %>
    </p>
      <% end %>
    <% end %>
  </div>
  <p>
    <%= link_to ('Add Another','#',{:id =>'add_reference_button'}) %>
  </p><br>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div><br>

<%= link_to 'Back', topic_sub_topic_questions_path(params[:topic_id],params[:sub_topic_id]) %>

<div id="new_alternate_phrases" style="display:none;">
    <div>
      <% fields_for "question[alternate_phrase_attributes][]", @question.alternate_phrases.new do |phrase_form|%>
        <%= phrase_form.text_field :content, :class => 'alternate_phrase_field' %>
      <% end %>
      <%= link_to 'Remove','#', :onclick => 'remove_alternate(this); return false;' %>
   </div>
</div>

<div id="new_references" style="display:none;">
  <div>
      <% fields_for "question[reference_attributes][]", @question.references.new do |reference_form|%>
    <p>
      <%= reference_form.label :issue, "Issue Addressed"%>
    </p>
    <p>
        <%= reference_form.text_area:issue, :class => 'issue_field' %>
    </p>
     <p>
      Enter Sura and Aya number like From 1:1 To 1:7 
      <p><%= reference_form.label :from, "From"%>
      <%= reference_form.text_field :from, :class => 'issue_from_field' %>
      <%= reference_form.label :to, "To"%>
      <%= reference_form.text_field :to, :class => 'issue_to_field' %>
    </p>
      <%= reference_form.hidden_field :question_id, :value=> @question_id %>
      <% end %>
    <%= link_to ('Remove','#', :onclick => 'remove_alternate(this); return false;') %>
  </div>
</div>
