<% get_keywords(@question.answer) %>
<% content_for :html_title, @question.quest %>
<% content_for :html_keywords, @words %>
<% content_for :html_description, @question.quest %>
<%= bread_crumb_question(@question) %><br>
<%= render :partial => "main/truncation" %>
<div class="content-body">
  <div>
    <h1><%=h @question.quest %></h1>
  </div>

  <% if admin_role? %>
    <%= simple_format(@question.answer)%>
    <% if admin? %>
       <span class="last-updated-by">
         <strong>Last updated by:</strong>
         <%= @question.last_updated_by %>
       </span>
       <div class = "clear"></div>
       <span class="last-updated-by">
         <strong>Created by:</strong>
         <%= @question.created_by %>
         <%= addthis_medium_button %>
       </span>
    <% end %>
  <% else %>
    <div class="jtruncate">
      <%= display_description(@question.answer) %>
      <%= addthis_medium_button %>
    </div>
  <% end %>
</div>
<% if admin_role? %>
  <div class = "actions">
    <%= link_to 'Edit', edit_topic_sub_topic_question_path(@question.sub_topic.topic,@question.sub_topic,@question), :class => "action-button button rounded-borders" %>
    <%= link_to 'Back', topic_sub_topic_questions_path(@question.sub_topic.topic,@question.sub_topic), :class => "action-button button rounded-borders" %>
  </div>
<% end %>

<div class="clear"></div>
  <div>
    <%= render :partial => "references" %>
  </div><br>
  <% unless @question.alternate_phrases.blank? %>
    <%= render :partial => "alternate_phrases" %>
  <%end%>
  <% unless admin_role? %>
    <div class = "list-wrapper">
    <% unless @related_subject.blank? %>
      <%= render :partial => "related_subject" %>
    <%end%>
    <% unless @related_questions.blank? %>
      <%= render :partial => "related_questions" %>
    <%end%>
  <% end %>
</div>

