<%= bread_crumb_question(@question) %><br>
<div class="content-body">
  <h7><%=h @question.quest %></h7>
  <div>
   <p> <%= simple_format(@question.answer)%><p>
  </div>
  <% if logged_in? %>
    <div class = "actions">
      <%= link_to 'Edit', edit_topic_sub_topic_question_path(@question.sub_topic.topic,@question.sub_topic,@question), :class => "action-button button rounded-borders" %>
      <%= link_to 'Back', topic_sub_topic_questions_path(@question.sub_topic.topic,@question.sub_topic), :class => "action-button button rounded-borders" %>
    </div>
  <% end %>
</div>
<div class="clear"></div>
<div>
  <%= render :partial => "references" %>
</div><br>
<% unless @question.alternate_phrases.blank? %>
  <%= render :partial => "alternate_phrases" %>
<%end%>
<% unless logged_in? %>
<div class = "list-wrapper">
<% unless @related_subject.blank? %>
  <%= render :partial => "related_subject" %>
<%end%>
<% unless @related_questions.blank? %>
  <%= render :partial => "related_questions" %>
<%end%>
</div>
<% end %>
