<%= bread_crumb_question(@question) %><br>
<%= render :partial => "main/truncation" %>
<div class="content-body">
  <h1><%=h @question.quest %></h1>
 <% unless logged_in? %>
    <div class="jtruncate">
      <%= display_description(@question.answer) %>
    </div>
  <% else %>
    <% form_for(@question) do |f| %>
      <%= hidden_field_tag 'question[id]', @question.id %>
      <textarea id="editor" name="question[answer]"><%=simple_format(@question.answer)%></textarea>
      <p>
        <%= f.submit 'Save', :class => "action-button button rounded-borders"%>
      </p>
    <% end %>
  <% end %>
  <% if logged_in? %>
    <div class = "actions">
      <%= link_to 'Edit', edit_topic_sub_topic_question_path(@question.sub_topic.topic,@question.sub_topic,@question), :class => "action-button button rounded-borders" %>
      <%= link_to 'Back', topic_sub_topic_questions_path(@question.sub_topic.topic,@question.sub_topic), :class => "action-button button rounded-borders" %>
    </div>
  <% end %>
</div>
<div class="clear"></div>
<div>
  <%= render :partial => "references" %>
</div><br>
<% unless @question.alternate_phrases.blank? %>
  <%= render :partial => "alternate_phrases" %>
<%end%>
<% unless logged_in? %>
<div class = "list-wrapper">
<% unless @related_subject.blank? %>
  <%= render :partial => "related_subject" %>
<%end%>
<% unless @related_questions.blank? %>
  <%= render :partial => "related_questions" %>
<%end%>
</div>
<% end %>
