<% form_tag  do %>
<%= label :select,"Plz Select a translation"  %><br><br>
<% @translation.each do |t|%>
<p>
  <%= radio_button_tag :id, t.id, :checked => true %><%= t.name%><br>
</p>
<% end %><br><br>
<p>
<%= submit_tag 'Submit' %>
<% end %>
</p><br><br>
<%= link_to 'Back',admin_dashboard_path %>
