<br><div class = "content-body-admin">
<br><div class ="admin-page">
  <h1>Editing translation</h7></div></h1>
<% form_for(@translation) do |f| %>
   <% if @translation.errors.any? %>
    <%= stylesheet_link_tag 'conditional' %>
   <% end %>
  <div class = "error-box">
    <% if @translation.errors.any? %>
      <h1 class = "error-heading"> <%=@translation.errors.count %>  <%=display_errors(@translation) %>  has been occured: </h1>
      <h2 class = "error-heading">Unable to update sub topic.</h2>
      <% @translation.errors.full_messages.each do |message| %>
        <li class = "error"><%= message %> </li>
      <% end %>
    <% end %>
  </div>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field:name %><br>
  </p>
  <p>
    <%= f.label:table,'Table Name' %><br>
    <%= f.text_field:table_nam %><br>
  </p>
  <p>
  <%= f.check_box :default%>Default<br>
  </p>
   <p>
    <%= f.submit 'Create' %><br>
  </p>
<% end %>
</div><br>
<%= link_to 'Show', @translation %> |
<%= link_to 'Back', translations_path %>
