<br><h7>Listing translations</h7>

<table>
  <tr>
  </tr>

<% @translations.each do |translation| %>
  <tr>
   <td><%=h translation.name %></td>
    <td><%=h translation.table_nam %></td>
    <td><%= link_to 'Show', translation %></td>
    <td><%= link_to 'Edit', edit_translation_path(translation) %></td>
    <td><%= link_to 'Destroy', translation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New translation', new_translation_path %><br><br>
<%= link_to 'Back', admin_dashboard_path %>
