<br><h5>Sub Topics</h5>
 <div class="clear"></div>
  <% @topic.sub_topics.each_with_index do |s, i|%>
    <!--class-section -->
    <div class="class-section <%= nomargin_class(i) %>">

      <a class="class-img" href="<%= sub_topic_slug_path(s.topic.name_slug, s.name_slug) %>"><%= image_tag s.photo.url(:small)%></a>
      <h3><%=link_to truncate(s.name, :length => 50, :omission => '...'), sub_topic_slug_path(s.topic.name_slug, s.name_slug) %></h3>
      <p><%= truncate(s.description, :length => 88, :omission => '...') %></p>
    </div>
  <% end %>
