<br><div class = "content-body-admin">
<% content_for :head do %>
  <%= javascript_include_tag 'topics' %>
<% end %>
<br>
<div class = "content-body1">
<div class ="admin-page"> <h1>Editing <%= @topic.name unless @topic.blank? %> topic</div></h1></div>

<% form_for(@topic, :html => {:multipart => true}) do |f| %>
  <% if @topic.errors.any? %>
    <%= stylesheet_link_tag 'conditional' %>
   <% end %>
  <div class = "error-box">
    <% if @topic.errors.any? %>
      <h1 class = "error-heading"><%=@topic.errors.count %>  <%=display_errors(@topic) %>  has been occured: </h1>
      <h2 class = "error-heading">Unable to update topic.</h2>
      <% @topic.errors.full_messages.each do |message| %>
        <li class = "error"><%= message %> </li>
      <% end %>
    <% end %>
  </div>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :meaning %><br />
    <%= f.text_field :meaning %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <%= image_tag @topic.photo.url(:normal) %>

  <p>
    <%= f.label :photo, "Photo" %>
    <%= f.file_field :photo %>
  <p>

  <p>
    <%= link_to 'Delete Image', "#", :id => "del_topic_image", :rel => @topic.id %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div><br>

<%= link_to 'Show', @topic %> |
<%= link_to 'Back', topics_path %>
