<% get_keywords(@topic.description) %>
<% content_for :html_title, @topic.name %>
<% content_for :html_keywords, @words %>
<% content_for :html_description, @description[0..255] %>
<br><div class = "content-body-admin">
<%= javascript_include_tag 'main' %>
<% content_for :head do %>
  <%= javascript_include_tag 'topics' %>
<% end %>
<br>
<div class = "content-body1">
<div class ="admin-page"> <h1>Editing <%= @topic.name unless @topic.blank? %> Quranic Subject</div></h1></div>

<% form_for(@topic, :html => {:multipart => true}) do |f| %>
  <% if @topic.errors.any? %>
    <%= stylesheet_link_tag 'conditional' %>
  <% end %>
  <% if @topic.errors.any? %>
    <%= render :partial => "shared/error_message", :locals => { :object => @topic, :action_name => controller.action_name  } %>
  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :meaning %><br />
    <%= f.text_field :meaning %>
  </p>
  <p>
    <%= f.label :description %>
    <div class="clear"></div>
    <%= hidden_field_tag 'topci[id]', @topic.id %>
    <textarea id="editor" name="topic[description]"><%= @topic.description %></textarea>
  </p>

  <%= image_tag @topic.photo.url(:normal) %>

  <p>
    <%= f.label :photo, "Photo" %>
    <%= f.file_field :photo %>
  <p>

  <p>
    <%= link_to 'Delete Image', "#", :id => "del_topic_image", :rel => @topic.id %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div><br>

<%= link_to 'Show', @topic %> |
<%= link_to 'Back', topics_path %>
