<div class = "content-body1">
<br><div class ="admin-page"> <h1>Listing Topics</div></h1></div>

<table class="admin-view">
  <tr>
    <th>Name</th>
    <th colspan="3">Actions</th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%=h topic.name %></td>
    <td><%= link_to 'Show', topic_slug_path(topic.name_slug) %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', topic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<div class="dashboard">
  <%= link_to 'New topic', new_topic_path %>
</div>
<br>
<%= link_to 'Back',admin_dashboard_path %>
