<% content_for :html_title, controller.action_name %>
<% content_for :html_keywords, @words %>
<div class = "content-body1">
<br><div class ="admin-page"> <h1>Listing Topics</div></h1></div>

<div>
  <div class="dashboard action-button button rounded-borders">
    <%= link_to 'New topic', new_topic_path %>
  </div>
  <div class="admin-back-link">
    <div class="clear"></div>
    <br>
    <%= link_to 'Back',admin_dashboard_path %>
  </div>
</div>  
<% form_tag( save_order_topics_path ) do %>
<table class="admin-view table-topics">
  <thead>
    <tr>
      <th>Order</th>
      <th>Name</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @topics.each do |topic| %>
    <tr>
      <td>
        <%= hidden_field_tag 'positions[]', topic.id %>
        <%= image_tag("arrow.png", :class => 'sort-handle') %>
      </td>
      <td><%=h topic.name %></td>
      <td><%= link_to 'Sub Topics', topic_sub_topics_path(topic) %></td>
      <td><%= link_to 'Show', topic_slug_path(topic.name_slug) %></td>
      <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
      <td><%= link_to 'Destroy', topic, :confirm => 'Are you sure to delete?', :method => :delete %></td>
   </tr>
  <% end %>
  </tbody>
</table>
<div>
  <%= submit_tag "Update Order" , :class => "action-button button rounded-borders" %>
  <div class="admin-back-link">
  <%= link_to 'Back',admin_dashboard_path %>
</div>
</div>  
<% end %>
<div class="clear"></div>
</br>

