<%= render :partial => "main/truncation" %>

<%= bread_crumb(@topic) %><br>
<div class="content-body">
  <h1><%=h @topic.name %>
    <% if logged_in? %>
       <%= description_edit_link("description",@topic.id) %>
    <% end %>
  </h1>
  <div class ="clear"></div>
  <h2>
    <%=h @topic.meaning %>
  </h2>

  <% if logged_in? %>
    <%= simple_format(@topic.description)%>
  <% else %>
    <div class="jtruncate">
      <%= display_description(@topic.description) %>
    </div>
	<% end %>
  <% if logged_in? %>
    <div class = "actions">
      <%= link_to 'Edit', edit_topic_path(@topic), :class => "action-button button rounded-borders" %>
      <%= link_to 'Add Sub Topic', new_topic_sub_topic_path(@topic), :class => "action-button button rounded-borders" %>
      <%= link_to 'Back', topics_path, :class => "action-button button rounded-borders" %>
    </div>
  <% end %>
  </div>
<div class="clear"></div>
<div>
  <%= render :partial => "sub_topics" %>
</div>
<% unless @related_subject.blank? %>
 <%= render :partial => "related_subject" %>
 <%end%>

