<%= render :partial => "main/truncation" %>
 <%= javascript_include_tag 'main' %>
<%= bread_crumb(@topic) %><br>
<div class="content-body">
  <h1><%=h @topic.name %></h1>
  <h2>
    <%=h @topic.meaning %>
  </h2>
  <% if !logged_in? %>
    <div class="jtruncate">
      <%= display_description(@topic.description) %>
    </div>
  <% else %>
     <% form_for(@topic) do |f| %>
       <%= hidden_field_tag 'topci[id]', @topic.id %>
       <textarea id="editor" name="topic[description]"><%=simple_format(@topic.description)%></textarea>
	    <p>
        <%= f.submit 'Save', :class => "action-button button rounded-borders"%>
      </p>
    <% end %>
	<% end %>
  <% if logged_in? %>
    <div class = "actions">
      <%= link_to 'Edit', edit_topic_path(@topic), :class => "action-button button rounded-borders" %>
      <%= link_to 'Add Sub Topic', new_topic_sub_topic_path(@topic), :class => "action-button button rounded-borders" %>
      <%= link_to 'Back', topics_path, :class => "action-button button rounded-borders" %>
    </div>
  <% end %>
  </div>
<div class="clear"></div>
<div>
  <%= render :partial => "sub_topics" %>
</div>
<% unless @related_subject.blank? %>
 <%= render :partial => "related_subject" %>
 <%end%>
