<h1>Change your password.</h1>
<% if logged_in? %>
  <p><%= label :email, 'Email' %>
  <div class="clear"></div>
  <%= current_user.email %></p>

  <% form_for(@user)do |f| -%>

    <p><%= f.label :password ,'New Password'%>
    <div class="clear"></div>
    <%= f.password_field :password %></p>

    <p><%= f.label :password_confirmation, 'Confirm Password' %>
    <div class="clear"></div>
    <%= f.password_field :password_confirmation %></p>

    <p><%= submit_tag 'Change Psassword',:class => "action-button button rounded-borders"%></p>
   <% end -%>
<% end %>
