<h1>Change your password.</h1>
<% if logged_in? %>
  <p><%= label :email, 'Email' %>
  <div class="clear"></div>
  <%= current_user.email %></p>

  <% form_for(@user)do |f| -%>
    <div class = "error-box">
      <% if @user.errors.any? %>
         <%= stylesheet_link_tag 'conditional' %>
      <% end %>
      <h1 class = "error-heading">  <%=@user.errors.count %>  <%=display_errors(@user) %>  has been occured: </h1>
      <h2 class = "error-heading">Unable to update sub topic.</h2>
      <% @user.errors.full_messages.each do |message| %>
        <li class = "error"><%= message %> </li>
      <% end %>
    </div>
      <%= hidden_field_tag 'action_page', "edit_password"%>
      <p><%= f.label :password ,'New Password'%>
      <div class="clear"></div>
      <%= f.password_field :password %></p>

      <p><%= f.label :password_confirmation, 'Confirm Password' %>
      <div class="clear"></div>
      <%= f.password_field :password_confirmation %></p>

      <p><%= submit_tag 'Change Psassword',:class => "action-button button rounded-borders"%></p>
   <% end -%>
<% end %>

