<% if logged_in? && admin? %>
<% content_for :html_title, @user.login %>
<br><div class = "content-body-admin">
<br>
<div>
<div class ="admin-page"> <h1>Editing  user</div></h1></div>

<% form_for(@user)  do |f| %>
  <% if @user.errors.any? %>
    <div class = "error-box">
      <%= stylesheet_link_tag 'conditional' %>
      <h1 class = "error-heading">  <%=@user.errors.count %>  <%=display_errors(@user) %>  has been occured: </h1>
      <h2 class = "error-heading">Unable to update sub topic.</h2>
      <% @user.errors.full_messages.each do |message| %>
        <li class = "error"><%= message %> </li>
      <% end %>
    </div>
  <% end %>

  <p><%= f.label :login %>
  <div class="clear"></div>
  <%= f.text_field :login %></p>

  <p><%= f.label :email %>
  <div class="clear"></div>
  <%= f.text_field :email %></p>

  <p><%= f.label :password %>
  <div class="clear"></div>
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, 'Confirm Password' %>
  <div class="clear"></div>
  <%= f.password_field :password_confirmation %></p>

  <p><div class="clear"></div>
    <%= f.label :role, "User Role" %>
    <div class="clear"></div>
    <%= select("user", "role", options_for_select(["Admin","SubAdmin"])) %>
  </p>
  <p>
   <%= f.submit 'Update' %>
  </p>
<% end %>
</div>
<% else %>
  <h1>you don't have permissions for this task.</h1>
<%end%>

