<% if logged_in? && admin? %>
<% content_for :html_title, controller.action_name  %>
<div>
<br><div class ="admin-page"> <h1>Listing Members</div></h1></div>

<div>  
  <div class="dashboard action-button button rounded-borders">
    <%= link_to 'New User', new_user_path %>
  </div>
  <div class="admin-back-link">
    <%= link_to 'Back',admin_dashboard_path %>
  </div>
</div> 
<table class="admin-view table-topics">
  <thead>
    <tr>
      <th>Role</th>
      <th>Login</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%=h user.roles.first.name %></td>
        <td><%=h user.login %></td>
        <td><%= link_to 'Show', user_path(user) %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, :confirm => 'Are you sure to delete?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>  
  <div class="dashboard action-button button rounded-borders">
    <%= link_to 'New User', new_user_path %>
  </div>
  <div class="admin-back-link">
    <%= link_to 'Back',admin_dashboard_path %>
  </div>
</div>  
<div class = "clear" ></div>
<% else %>
  <h1>you don't have permissions for this task.</h1>
<%end%>

