<h1>Sign up as a new user</h1>
<% if logged_in? %>
<% @user.password = @user.password_confirmation = nil %>

<% form_for @user  do |f| -%>

<% if @user.errors.any? %>
    <%= stylesheet_link_tag 'conditional' %>
   <% end %>
  <div class = "error-box">
    <% if @user.errors.any? %>
      <h1 class = "error-heading"> <%= @user.errors.count %> Errors has been occured: </h1>
      <h2 class = "error-heading">Unable to sign-up.</h2>
      <% @user.errors.full_messages.each do |message| %>
        <li class = "error"><%= message %> </li>
      <% end %>
    <% end %>
  </div>
<p><%= f.label :login %><br/>
<%= f.text_field :login %></p>

<p><%= f.label :email %><br/>
<%= f.text_field :email %></p>

<p><%= f.label :password %><br/>
<%= f.password_field :password %></p>

<p><%= f.label :password_confirmation, 'Confirm Password' %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
<% end %>

