<% if logged_in? && current_user.roles.first.name == "Admin" %>
<% content_for :html_title, controller.action_name  %>
<h1>Sign up as a new user</h1>

<% @user.password = @user.password_confirmation = nil %>

 <% form_for @user  do |f| -%>

    <% if @user.errors.any? %>
      <%= stylesheet_link_tag 'conditional' %>
    <% end %>
    <div class = "error-box">
      <% if @user.errors.any? %>
        <h1 class = "error-heading"> <%= "Following errors has occured:" %> </h1>
        <h2 class = "error-heading">Unable to create a new user.</h2>
        <% if !@user.errors[:login].blank? %>
          <li class = 'error'><%= @user.user_errors("login") %> </li>
        <% end %>
        <% if !@user.errors[:email].blank? %>
          <li class = 'error'><%= @user.user_errors("email") %> </li>
        <% end %>
        <% if !@user.errors[:password].blank? %>
          <li class = 'error'><%= @user.user_errors("password") %> </li>
        <% end %>
        <% if !@user.errors[:password_confirmation].blank? %>
          <li class = 'error'><%= @user.user_errors("password_confirmation") %> </li>
        <% end %>
      <% end %>
    </div>
    <div class="clear"></div>
    <%= f.label :login %>
    <div class="clear"></div>
    <%= f.text_field :login %>
    <div class="clear"></div>
    </br>
    <%= f.label :email %>
    <div class="clear"></div>
    <%= f.text_field :email %>
    <div class="clear"></div>
    </br>
    <%= f.label :password %>
    <div class="clear"></div>
    <%= f.password_field :password %>
    <div class="clear"></div>
    </br>
    <%= f.label :password_confirmation, 'Confirm Password' %>
    <div class="clear"></div>
    <%= f.password_field :password_confirmation %>
    <div class="clear"></div>
    </br>
    <div class="clear"></div>
    <%= f.label :role, "User Role" %>
    <div class="clear"></div>
    <%= select("user", "role", options_for_select(["Admin","SubAdmin"])) %>
    </br></br></br>
    <div class="clear"></div>
    <div>
      <%= submit_tag 'Sign up' %>
    </div>
  <% end -%>
<% else %>
     <%= stylesheet_link_tag 'conditional' %>
    <div class = "error-box">
    <h1 class = "error-heading">Your are not allowed to add new user.</h1>
    <h2 class = "error-heading">login as admin click here.</h2>
    <%= link_to "login here", login_path %>
<% end %>

