    <div class = "error-box">
      <h1 class = "error-heading"> <%=object.errors.count %>  <%=display_errors(object) %>  has been occured: </h1>
      <h2 class = "error-heading">Unable to <%= action_name %> <%= header_name %>.</h2>
      <% object.errors.each do |attribute, message| %>
        <li class = "error"><%= message %> </li>
      <% end %>
    </div>