<a href="/" id="logo"></a>

<!--social-container -->
<div id="social-container">
  <%= twitter_adventure_sharer %>
  <%= popup_window_sharer %>
  <%= rss_window_sharer %>
   <%= addthis_medium_button %>
</div>
<!--/social-container -->
<!--menu-->
<div id="menu">
  <%= render :partial => "shared/menu" %>
</div>
<!--/menu-->
