<% topics =Topic.all.collect(&:name) + SubTopic.all.collect(&:name)
%>
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
  <script>
  $(function() {
 $(".s-input").autocomplete({
    source: <%= topics.to_json
%>
  });
 });
  </script>
<a href="/" id="logo"></a>

<!--social-container -->
<div id="social-container">
  <%= popup_window_sharer %>
</div>

<div class="search-box header-search">
  <% form_tag("/home/search", :method => "get") do %>
    <input name="search_term" type="text" class="s-input watermarked" title="Enter a Keyword"/>
    <%= submit_tag '', :class => "s-btn" %>
  <% end %>
  <div class="clear"></div>
  <%= link_to "Advance Search" ,"#footer2", :id=>"advance-search" %>
</div>
<!--/social-container -->
<!--menu-->
<div id="menu-bar">
  <%= render :partial => "shared/menu" %>
</div>
<!--/menu-->
