<ul id="nav">
    <li class="<%= home_class() %>"><a class="home" href="/"></a></li>
    <li><%= link_to("About", { :controller => "main", :action => "about"}, {:class => 'about' })%>
      <div class="clear"></div>
    </li>
    <li><%= link_to("Quranic Resources", { controller: "main", action: "quranic_resources" }, { class: "quranic-resources" })%>
      <div class="clear"></div>
    </li>

    <li><%= link_to("FAQ's", { :controller => "main", :action => "faqs" }, {:class => 'faqs' }) %>
      <div class="clear"></div>
    </li>

    <li><%= link_to("Credits", { :controller => "main", :action => "credit" }, {:class => 'credit' })%>
      <div class="clear"></div>
    </li>

    <li><%= link_to("Contact", { :controller => "main", :action => "contact"}, {:class => 'contact' } )%>
      <div class="clear"></div>
    </li>


  <% if logged_in? %>
    <li><a href="/logout">Logout</a></li>
  <% end %>
</ul>



