<ul <%= "id='admin-menu'" if logged_in? %> >
  <li><a class="active" href="/home/index"> <%= image_tag "nav-home.png" %></a></li>
  <li><%= link_to("About", :controller => "main", :action => "about")%></li>
  <li><%= link_to("Duas", :controller => "main", :action => "duas")%></li>
  <li><%= link_to("Contact", :controller => "main", :action => "contact")%></li>
  <li><%= link_to("Credits", :controller => "main", :action => "credit")%></li>
  <li><%= link_to("FAQ's", :controller => "main", :action => "faqs") %></li>
  <% if logged_in? %>
    <li><a href="/logout">Logout</a></li>
  <% end %>
</ul>
