<ul <%= "id='admin-menu'" if logged_in? %> >
  <li><a href="/home/index"><img class="home" src="/images/nav-home.png" width="19" height="16" alt=""></a></li>
  <li><%= link_to("About", :controller => "main", :action => "about")%></li>
  <li><%= link_to("Duas", :controller => "main", :action => "duas")%></li>
  <li><%= link_to("Contact", :controller => "main", :action => "contact")%></li>
  <li><%= link_to("Credits", :controller => "main", :action => "credit")%></li>
  <li><%= link_to("FAQ's", :controller => "main", :action => "faqs") %></li>
  <% if logged_in? %>
    <li><a href="/logout">Logout</a></li>
  <% end %>
</ul>
