<!--class-container -->
<div id="class-container">

  <% if params[:controller]!="sessions" %>
    <!--slider-->
    <div id="slider">
      <%= render :partial => "shared/slider" %>
    </div>
    <!--/slider-->
  <% end %>
  <div class = "index-subtopic">
    <h1>Popular Subtopics</h1></div>
    <div class="clear"></div>
    <% @sub_topics.each_with_index do |s, i|%>
      <!--class-section -->
      <div class="class-section <%= nomargin_class(i) %>">

        <a class="class-img" href="<%=sub_topic_slug_path(s.topic.name_slug, s.name_slug) %>"><%= image_tag s.photo.url(:small), :alt => "image"%></a>
        <h3> <%= link_to truncate(s.name, :length => 30, :omission => '...'), sub_topic_slug_path(s.topic.name_slug, s.name_slug)%></h3>
       <%= truncate(s.description, :length => 72, :omission => '...') %>
      </div>
      <!--/class-section -->
    <% end %>
  </div>
  <div class="clear"></div>
  <!--popular-Questions/-->
  <div id="popular-Questions">

    <!--question-bar -->
    <div class="question-bar">

      Popular Questions

      <%= link_to("Show more", {:controller => "questions", :action => "popular"}, { :class => 'show-more'}) %>

    </div>
    <!--/question-bar -->
    <div class="clear"></div>
    <!--question -->
    <div class = "question-index">
      <ul>
        <% @questions.each_with_index do |q,i| %>
          <li class="<%= questions_list_class(i+1, @questions.count) %>">
            <%= link_to q.quest, question_slug_path(q.sub_topic.topic.name_slug,q.sub_topic.name_slug,q.quest_slug) %>
          </li>
        <% end %>
      </ul>
    </div> <!--/question -->

  </div><!--/popular-Questions-->
</div>
