<!--class-container -->
<div id="class-container">

  <h1>Class aptent taciti sociosqu ad</h1>


  <div class="clear"></div>
  <% @sub_topics.each_with_index do |s, i|%>
    <!--class-section -->
    <div class="class-section <%= normargin_class(i) %>">

      <a class="class-img" href="<%= topic_sub_topic_url(s.topic, s) %>"><%= image_tag s.photo.url(:small)%></a>
      <h3><%= s.name%></h3>
      <p><%= truncate(s.description, :length => 75, :omission => '...') %></p>
    </div>
  <% end %>

</div> <!--/class-container -->


<div class="clear"></div>

<!--popular-Questions-->
<div id="popular-Questions">

<!--question-bar -->
<div class="question-bar">

Popular-Questions

<a href="#" class="show-more">Show more</a>

</div> <!--/question-bar -->
<div class="clear"></div>
<!--question -->
<div class="question">

<ul>
<% @questions.each do |q| %>
  <li>
    <%= link_to q.quest, topic_sub_topic_question_url(q.sub_topic.topic, q.sub_topic, q)%>
  </li>
<% end %>
</ul>


</div> <!--/question -->

</div><!--/popular-Questions-->
