<!--class-container -->
<div id="class-container">
 <!--search-container -->
      <div class="search-container">
        <%= render :partial => "shared/search" %>
      </div> 
      <!--/search-container -->

      <div class="clear"></div>
        <% if params[:controller]!="sessions" %>
          <!--slider-->
          <div id="slider">
            <%= render :partial => "shared/slider" %>
          </div>
          <!--/slider-->
        <% end %>
  <div class = "index-subtopic">
  <h1>Latest SubTopics</h1></div>
<div class="clear"></div>
  <% @sub_topics.each_with_index do |s, i|%>
    <!--class-section -->
    <div class="class-section <%= nomargin_class(i) %>">

      <a class="class-img" href="<%= topic_sub_topic_url(s.topic, s) %>"><%= image_tag s.photo.url(:small)%></a>
      <h3> <%= link_to truncate(s.name, :length => 30, :omission => '...'), topic_sub_topic_url(s.topic,s)%></h3>
      <p><%= truncate(s.description, :length => 48, :omission => '...') %></p>
    </div>
  <% end %>

</div> <!--/class-container -->
<div class="clear"></div>
<!--popular-Questions-->
<div id="popular-Questions">

<!--question-bar -->
<div class="question-bar">

Popular Questions

<%= link_to("Show more", {:controller => "questions", :action => "popular"}, { :class => 'show-more'}) %>

</div> <!--/question-bar -->
<div class="clear"></div>
<!--question -->
<div class="question">

<ul>
<% @questions.each_with_index do |q,i| %>
 <li class="<%= questions_list_class(i+1, @questions.count) %>">
    <%= link_to q.quest, topic_sub_topic_question_url(q.sub_topic.topic, q.sub_topic, q)%>
  </li>
<% end %>
</ul>

</div> <!--/question -->

</div><!--/popular-Questions-->
