<br><div class="content-body">
  <ul>
    <% unless @topics.blank? %>
      <h7>Topics:</h7><br><br>
      <% @topics.each do |topic| %>
        <li>
          <a href="/<%= topic.name_slug %>"><h3><%= h topic.name %></h3></a>
          <div>
            <p>
              <%=h topic.description[0..100] %><%= "..." if topic.description.chars.count > 100 %>
            </p>
          </div>
        </li>
      <% end %>
    <% end %>
    <% unless @sub_topics_search.blank? %>
      <h7>Sub Topics:</h7><br><br>
      <% @sub_topics_search.each do |sub_topic| %>
        <li>
          <a href="/<%= sub_topic.topic.name_slug %>/<%= sub_topic.name_slug %>"><h3><%= h sub_topic.name %></h3></a>
          <div>
            <p>
              <%=h sub_topic.description[0..100] %><%= "..." if sub_topic.description.chars.count > 100 %>
            </p>
          </div>
        </li>
      <% end %>
    <% end %>
    <% unless @questions_search.blank? %>
      <h7>Questions:</h7><br><br>
      <% @questions_search.each do |question| %>
        <li>
          <a href="/<%= question.sub_topic.topic.name_slug %>/<%= question.sub_topic.name_slug %>/<%= question.quest_slug %>"><h3><%= h question.quest %></h3></a>
          <div>
            <p>
              <%=h question.answer[0..100] %><%= "..." if question.answer.chars.count > 100 %>
            </p>
          </div>
        </li>
      <% end %>
    <% end %>
    <%= will_paginate @questions_search unless @questions_search.blank? %>
  </ul>
  <% if @topic.blank? && @sub_topics_search.blank? && @questions_search.blank? %>
<h6>No Such request Found!!</h6>
<% end %>
</div>
<br><br>
<div class="list-points">
<div id="prev-link">
<a href="<%= '/' %>"> <h3> << Back  </h3> </a>
</div>
</div>
