<br><div class="content-body">
  <div class="header-search-tab2">
    <%= render :partial => "shared/results_search" %>
  </div>
 <% unless params[:search_term] == 'Search' %>
 <div class = "search-keyword">
   <% if params[:search_term].present? && params[:search_term]!="Enter a Keyword" %>
     <h1>Search results for <%= params[:search_term] %></h1><br>

   <% elsif @topics_search.present? %>
     <h1>Search results for
       <% @topics_search.each_with_index do |topic,i| %>
         <%= h topic.name %></h1><br/>
       <% end %>
   <% elsif @sub_topics_search.present?  %>
     <h1>Search results for
       <% @sub_topics_search.each do |sub_topic| %>
         <%= h sub_topic.name %></h1><br/>
       <% end %>
   <% end %>
 </div>
 <%end%>

 <% if params[:search_term] == 'Search' %>
   <div class = "search-keyword">
     <h1>ts </h1><br>
   </div>
<% end %>
  <ul>
    <% unless @topics_search.blank? %>
      <% @topics_search.each_with_index do |topic,i| %>
        <li>
          <a href="/<%= topic.name_slug %>"><h3><%= h topic.name %></h3></a><div class = "show-search"> Topic </div>
          <div>
           <p class="description"><%= truncate(strip_tags(topic.description), :length => 100, :omission => '...') %></p>
          </div>
          <div class = "separator-search-width"></div><br>
        </li>
      <% end %>
    <% end %>
    <% unless @sub_topics_search.blank? %>
      <% @sub_topics_search.each do |sub_topic| %>
        <li>
          <a href="/<%= sub_topic.topic.name_slug %>/<%= sub_topic.name_slug %>"><h3><%= h sub_topic.name %></h3></a><div class = "show-search"> SubTopic </div>
          <div>
            <p class="description"><%= truncate(strip_tags(sub_topic.description), :length => 100, :omission => '...') %></p>
            </p>
          </div>
          <div class = "separator-search-width <%= sub_topic_list_class(@questions_search)%>"></div><br>
        </li>
      <% end %>
    <% end %>
    <% unless @questions_search.blank? %>
      <% @questions_search.each_with_index do |question,i| %>
        <li>
          <a href="/<%= question.sub_topic.topic.name_slug %>/<%= question.sub_topic.name_slug %>/<%= question.quest_slug %>"><h3><%= h question.quest %></h3></a><div class = "show-search"> Question </div>
          <div>
            <p>
              <%= truncate(strip_tags(question.answer), :length => 100, :omission => '...') %>
            </p>
          </div>
           <div class = "separator-search-width <%= verses_list_class(i+1,@questions_search.count)%>"></div><br>
        </li>
      <% end %>
    <% end %>
  </ul>
  <% if @topics_search.blank? && @sub_topics_search.blank? && @questions_search.blank? && @search.blank? && @blank_search.blank? %>
<h6>No search result found!</h6>
  <% end %>
  <% unless @search.blank? %>
  <% @search.each_with_index do |s,i| %>
    <% if s.class == Topic %>
      <a href="/<%= s.name_slug %>"><h3><%= h s.name %></h3></a> <div class = "show-search"> Topic </div>
       <div>
            <p class="description"><%= truncate(strip_tags(s.description), :length => 100, :omission => '...') %></p>
          </div>
           <div class = "separator-search-width <%= verses_list_class(i+1,@search.count)%>"></div><br>
    <% elsif s.class == SubTopic %>
       <a href="/<%= s.topic.name_slug %>/<%= s.name_slug %>"><h3><%= h s.name %></h3></a><div class = "show-search"> SubTopic </div>
       <div>
           <p class="description"><%= truncate(strip_tags(s.description), :length => 100, :omission => '...') %></p>
          </div>
            <div class = "separator-search-width <%= verses_list_class(i+1,@search.count)%>"></div><br>
      <% elsif s.class == Question %>
    <a href="/<%= s.sub_topic.topic.name_slug %>/<%= s.sub_topic.name_slug %>/<%= s.quest_slug %>"><h3><%= h s.quest %></h3></a><div class = "show-search"> Question </div>
     <div>
            <p>
              <%= truncate(strip_tags(s.answer), :length => 100, :omission => '...') %>
            </p>
          </div>
            <div class = "separator-search-width <%= verses_list_class(i+1,@search.count)%>"></div><br>
  <% end %>
  <% end %>
   <div class = "search-pag">
    <%= will_paginate @search unless  @search.blank?%>
    </div>
 <% end %>
 <% unless @blank_search.blank? %>
  <% @blank_search.each_with_index do |s,i| %>
    <% if s.class == Topic %>
      <a href="/<%= s.name_slug %>"><h3><%= h s.name %></h3></a> <div class = "show-search"> Topic </div>
       <div>
            <p class="description"><%= truncate(strip_tags(s.description), :length => 100, :omission => '...') %></p>
          </div>
           <div class = "separator-search-width <%= verses_list_class(i+1,@search.count)%>"></div><br>
    <% elsif s.class == SubTopic %>
       <a href="/<%= s.topic.name_slug %>/<%= s.name_slug %>"><h3><%= h s.name %></h3></a><div class = "show-search"> SubTopic </div>
       <div>
            <p class="description"><%= truncate(strip_tags(s.description), :length => 100, :omission => '...') %></p>
          </div>
            <div class = "separator-search-width <%= verses_list_class(i+1,@search.count)%>"></div><br>
      <% elsif s.class == Question %>
    <a href="/<%= s.sub_topic.topic.name_slug %>/<%= s.sub_topic.name_slug %>/<%= s.quest_slug %>"><h3><%= h s.quest %></h3></a><div class = "show-search"> Question </div>
     <div>
            <p>
              <%=h s.answer[0..100] %><%= "..." if s.answer.chars.count > 100 %>
            </p>
          </div>
            <div class = "separator-search-width <%= verses_list_class(i+1,@search.count)%>"></div><br>
  <% end %>
  <% end %>
  <div class = "search-pag">
  <%= will_paginate @blank_search unless  @blank_search.blank?%>
  </div>
 <% end %>
</div>
<div class="list-points">
<div id="prev-link">
<a href="<%= '/' %>">  << Back  </a>
</div>
</div>
</div>
