<%= bread_crumb_verse(@question) %>
<script>
  function get_context(){
    $.ajax({
      url: "/verse/get_context",
      data: {verse_id:<%= params[:id] %>} ,
      success: function( data ) {
        $('.list-points').html($(data).find('ol'));
        $('#arabic-verse').html("");
        }
    });
  }
</script>

<div class="clear translation-margin"></div>

<%= previous_link("Question") %>
<div class = "verse-wrapper">
  <%= formatted_verses_with_link(@verses_range, @trans_verses) %>
</div>
<%= previous_link("Question") %>
