<% get_keywords(@question.answer) %>
<% content_for :html_title, @question.quest %>
<% content_for :html_keywords, @words %>
<% content_for :html_description, @question.answer[0..255] %>
<%= bread_crumb_verse(@question) %>
<script>
  function get_context(){
    $.ajax({
      url: "/verse/get_context",
      data: {verse_id:<%= params[:id] %>} ,
      success: function( data ) {
        $('.list-points').html($(data).find('ol'));
        $('#arabic-verse').html("");
        }
    });
  }
</script>

<% content_for :head do %>
  <%= stylesheet_link_tag 'conditional' %>
<% end %>
<div class="translations-box">
    <div class="clear"></div>
    <%= render :partial => "shared/translations" %>
    <div class="clear"></div>
</div>
<%= previous_link("Verses") %>

<div class="count">
  <%= params[:index].to_i + 1 %> of <%= @question.references.count %> related verses
</div>

<%= previous_set_verses("Previous",params[:id], @verses_range.count ,params[:index]) %>
<%= next_set_verses("Next",params[:id],@verses_range.count,params[:index]) %>

<div class="clear translation-margin"></div>

<div class = "verse-wrapper">
  <%= formatted_verses_with_link(@verses_range, @trans_verses) %>
  <%= previous_link("Sub Topic") %>
</div>
