<%= bread_crumb_context(@question) %>

<div class="clear translation-margin"></div>

<%= previous_link("Verses") %>

  <div class = "verse-wrapper">
    <%= formatted_verses(@prev_verses, @trans_verses ) %>
    <div class="verse-background">
      <%= numbered_verse_content(@verse) %>
      <%= verse_text(@verse) %>
      <div class="verse-current-last">
        <%= translated_verse_name(@trans_verses[@verse.id][:name]) %>
        <%= translated_verse_translation(@trans_verses[@verse.id][:name], @trans_verses[@verse.id][:translation]) %>
      </div>
    </div>
    <%= formatted_verses(@next_verses, @trans_verses ) %>
  </div>

<%= previous_link("Verses") %>
