<%= bread_crumb_context() %>

<div class="arabic-post-pr-verse" dir="rtl">
<b>Pre Context</b></div>
<% @prev_verses.each do |v| %>
<div class="arabic-post-pr-verse" dir="rtl"><br>
<%= v.text  %><br><br>
</div>
<div class="verse-color">
<%= @trans_verses[v.id]  %><br><br></div>
<% end %>
<div class="arabic-current-verse" dir="rtl"><br>
<b>Context</b></div>
<div class="arabic-current-verse" dir="rtl"><br>
<%= @verse.text %><br><br>
</div>
<div class="verse-color">
<%=  @trans_verses[@verse.id] %><br><br>
</div> 
<div class="arabic-post-pr-verse" dir="rtl"><br>
<b>Post Context</b></div>
<% @next_verses.each do |v| %>
<div class="arabic-post-pr-verse" dir="rtl"><br>
<%= v.text  %><br><br>
</div>
<div class="verse-color">
<%= @trans_verses[v.id] %><br><br></div>
<% end %><br>
<%= addthis_button %><br>
<%= puts params[:token].inspect %>
<% if !(params[:token].blank?) %>
      <div class="list-points">
      <div id="prev-link">
      <a href="<%= params[:token] %>"> <h3> << Back to Verse </h3> </a>
      </div>
     </div>
     <%end%>
    <% if params[:prev] %>
    <div class="list-points">
      <div id="prev-link">
      <a href="<%= params[:prev] %>"> <h3> << Back to Verses </h3> </a>
      </div>
     </div>
     <% end %>
