<%= bread_crumb_context(@question) %><br>
 <% if params[:prev] %>
    <div class="list-points">
      <div id="prev-link">
      <a href="<%= params[:prev] %>"> <h3> << Back to Verses </h3> </a>
      </div>
     </div>
     <% end %><br>
<div class = "verse-wrapper">
<div class = "verse-background-pr-post">
<% @prev_verses.each do |v| %>
<div class="arabic-post-pr-verse" dir="rtl"><br>
<%= v.text  %>
</div><br><br>
<div class="verse-color">
<%= @trans_verses[v.id]  %></div>
<% end %>
</div>
<div class = "verse-background">
<div class="arabic-current-verse" dir="rtl"><br>
<%= @verse.text %>
</div><br><br>
<div class="verse-color-whit">
<%=  @trans_verses[@verse.id] %>
</div> 
</div>
<div class = "verse-background-pr-post">
<% @next_verses.each do |v| %>
<div class="arabic-post-pr-verse" dir="rtl"><br>
<%= v.text  %><br><br>
</div>
<div class="verse-color">
<%= @trans_verses[v.id] %></div>
<% end %></div>
</div>
    <% if params[:prev] %>
    <div class="list-points">
      <div id="prev-link">
      <a href="<%= params[:prev] %>"> <h3> << Back to Verses </h3> </a>
      </div>
     </div>
     <% end %>
