<%= bread_crumb_context(@question) %><br>
 <% if params[:prev] %>
    <div class="list-points">
      <div id="prev-link">
      <a href="<%= params[:prev] %>"> << Back to Verses </a>
      </div>
     </div>
     <% end %><br>
<div class = "verse-wrapper">
  <div class = "verse-background-pr-post">
  <% unless @prev_verses.blank? %>
  <%end%>
  <end>
    <% @prev_verses.each_with_index do |v,i| %>
      <div class = "numbered-verse">
      <div class="show-verse-number-questionpage"><%= v.sura %> : <%= v.aya %></div>
      </div>
      <div class="arabic-post-pr-verse" dir="rtl" >
        <%= v.text  %>
      </div><br>
      <div class="verse-color">
        <%= @trans_verses[v.id] unless @trans_verses.blank?  %>
      </div>
      <% if @prev_verses.count-1 > i%>
         <div class="separator-width "></div>
      <% end %>
    <% end %>
  </div>
  <div class = "verse-background">
     <div class = "numbered-verse">
      <div class="show-verse-number-questionpage"><%= @verse.sura %> : <%= @verse.aya %></div>
      </div>
  <div class="arabic-current-verse" dir="rtl"><br>
    <%= @verse.text %>
  </div><br><br>
  <div class="verse-current-last">
    <%=  @trans_verses[@verse.id] unless @trans_verses.blank? %>
  </div> 
</div>
<div class = "verse-background-pr-post">
<% unless @prev_verses.blank? %>
 <%end%>
<% @next_verses.each_with_index do |v,i| %>
  <div class = "numbered-verse">
      <div class="show-verse-number-questionpage"><%= v.sura %> : <%= v.aya %></div>
      </div>
<div class="arabic-post-pr-verse" dir="rtl">
<%= v.text  %><br><br>
</div>
<div class="verse-color">
<%= @trans_verses[v.id] unless @trans_verses.blank? %>
</div>
      <% if @next_verses.count-1 > i%>
         <div class="separator-width "></div>
      <% end %>
<% end %>
</div>
</div>
    <% if params[:prev] %>
    <div class="list-points">
      <div id="prev-link">
      <a href="<%= params[:prev] %>"> << Back to Verses </a>
      </div>
     </div>
     <% end %>
