<% content_for :head do %>
  <%= javascript_include_tag 'sub_topics' %>
<% end %>
<br>
<div class = "content-body1">
<div class ="admin-page"> <h1>Editing <%= @sub_topic.name unless @sub_topic.blank? %> subtopic</div></h1></div>

<% form_for @sub_topic, :url => topic_sub_topic_path(@sub_topic.topic,@sub_topic), :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :topic_id %><br />
    <%= select("sub_topic", "topic_id", Topic.all.collect {|t| [ t.name, t.id ] }, { :include_blank => true }) %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <%= image_tag @sub_topic.photo.url(:normal) %>

  <p>
    <%= f.label :photo, "Photo" %>
    <%= f.file_field :photo %>
  <p>

  <p>
    <%= link_to 'Delete Image', "#", :class => "del_topic_image", :id => @sub_topic.id, :rel => @sub_topic.topic_id %>
  </p>
  <p>
    <%= f.check_box :featured %>Click here to feature this sub_topic on Main page.
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', topic_sub_topic_path(@sub_topic.topic,@sub_topic) %> |
<%= link_to 'Back', topic_sub_topics_path(@sub_topic.topic) %>
