<% content_for :html_title, @sub_topic.name %>
<% content_for :html_keywords, @words %>
<br><div class = "content-body-admin">
<%= javascript_include_tag 'main' %>
<% content_for :head do %>
  <%= javascript_include_tag 'sub_topics' %>
<% end %>
<br>
<div class = "content-body1">
<div class ="admin-page"> <h1>Editing <%= @sub_topic.name unless @sub_topic.blank? %> subtopic</div></h1></div>

<% form_for @sub_topic, :url => topic_sub_topic_path(@sub_topic.topic,@sub_topic), :html => {:multipart => true} do |f| %>

  <% if @sub_topic.errors.any? %>
    <%= stylesheet_link_tag 'conditional' %>
  <% end %>
  <div class = "error-box">
    <% if @sub_topic.errors.any? %>
      <h1 class = "error-heading"> <%=@sub_topic.errors.count %>  <%=display_errors(@sub_topic) %>  has been occured: </h1>
      <h2 class = "error-heading">Unable to update sub topic.</h2>
      <% @sub_topic.errors.full_messages.each do |message| %>
        <li class = "error"><%= message %> </li>
      <% end %>
    <% end %>
  </div>

  <p>
    <%= f.label :topic_id %><br />
    <%= select("sub_topic", "topic_id", Topic.all.collect {|t| [ t.name, t.id ] }, { :include_blank => true }) %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <div class="clear"></div>
    <%= hidden_field_tag 'sub_topic[id]', @sub_topic.id %>
    <textarea id="editor" name="sub_topic[description]"> <%= @sub_topic.description %></textarea>
  </p>

  <%= image_tag @sub_topic.photo.url(:normal) %>

  <p>
    <%= f.label :photo, "Photo" %>
    <%= f.file_field :photo %>
  <p>

  <p>
    <%= link_to 'Delete Image', "#", :class => "del_topic_image", :id => @sub_topic.id, :rel => @sub_topic.topic_id %>
  </p>
  <p>
    <%= f.check_box :featured %>Click here to feature this sub topic on main page.
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div><br>

<%= link_to 'Show', topic_sub_topic_path(@sub_topic.topic,@sub_topic) %> |
<%= link_to 'Back', topic_sub_topics_path(@sub_topic.topic) %>
