<% content_for :html_title, controller.action_name  %>
<% content_for :html_keywords, @words %>
<br><div class = "content-body-admin">
<div class = "content-body1">
<br><div class ="admin-page"> <h1>New sub_topic</div></h6></div>
<%= javascript_include_tag 'main' %>
<% form_for @sub_topic, :url => topic_sub_topics_path(params[:topic_id]), :method => :post, :html => {:multipart => true} do |f| %>

  <% if @sub_topic.errors.any? %>
    <%= stylesheet_link_tag 'conditional' %>
  <% end %>
  <div class = "error-box">
    <% if @sub_topic.errors.any? %>
      <h1 class = "error-heading"> <%=@sub_topic.errors.count %>  <%=display_errors(@sub_topic) %> has been occured: </h1>
      <h2 class = "error-heading">Unable to add new sub topic.</h2>
      <% @sub_topic.errors.full_messages.each do |message| %>
        <li class = "error"><%= message %> </li>
      <% end %>
    <% end %>
  </div>

  <p>
    <%= f.label :topic_id %><br />
    <%= select("sub_topic", "topic_id", Topic.ordered.all.collect {|t| [ t.name, t.id ] }) %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <div class="clear"></div>
    <%= hidden_field_tag 'sub_topic[id]', @sub_topic.id %>
    <textarea id="editor" name="sub_topic[description]"></textarea>
  </p>

  <p>
    <%= f.label :photo, "Photo" %>
    <%= f.file_field :photo %>
  </p>
  <p>
    <%= f.check_box :featured %>Click here to feature this sub topic on main page.
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div><br>

<%= link_to 'Back', topic_sub_topics_path(@sub_topic.topic) %>
