<% content_for :html_title, controller.action_name  %>
<% content_for :html_keywords, @words %>
<br><div class = "content-body-admin">
<div class = "content-body1">
<br><div class ="admin-page"> <h1>New Sub Topic</div></h6></div>
<%= javascript_include_tag 'main' %>
<% form_for @sub_topic, :url => topic_sub_topics_path(params[:topic_id]), :method => :post, :html => {:multipart => true} do |f| %>

  <% if @sub_topic.errors.any? %>
    <%= stylesheet_link_tag 'conditional' %>
  <% end %>
  <% if @sub_topic.errors.any? %>
    <div class = "error-box">
      <h1 class = "error-heading"> <%=@sub_topic.errors.count %>  <%=display_errors(@sub_topic) %> has been occured: </h1>
      <h2 class = "error-heading">Unable to add new sub topic.</h2>
      <% @sub_topic.errors.full_messages.each do |message| %>
        <li class = "error"><%= message %> </li>
      <% end %>
    </div>
  <% end %>


    <%= f.label :topic_id %>
    <div class="clear"></div>
    <%= select("sub_topic", "topic_id", Topic.ordered.all.collect {|t| [ t.name, t.id ] }) %>
    <div class="clear"></div>
    <br>
    <%= f.label :name %>
    <div class="clear"></div>
    <%= f.text_field :name %>
    <div class="clear"></div>
    <br>
    <%= f.label :description %>
    <div class="clear"></div>
    <%= hidden_field_tag 'sub_topic[id]', @sub_topic.id %>
    <%= f.text_area :description, :id =>"editor" %>
    <div class="clear"></div>
    <br>
    <%= f.label :photo, "Photo" %>
    <div class="clear"></div>
    <%= f.file_field :photo %>
    <div class="clear"></div>
    <br>
    <%= f.check_box :featured %>Click here to feature this sub topic on main page.
    <div class="clear"></div>
     <br><br>
    <div class="dashboard action-button button rounded-borders">
       <%= f.submit 'Create' %>
    </div>
    <div class="clear"></div>
    <br>
<% end %>
</div><br>

<%= link_to 'Back', topic_sub_topics_path(@sub_topic.topic) %>
