<%= bread_crumb_sub_topic(@sub_topic) %><br>
<%= render :partial => "main/truncation" %>
<%= javascript_include_tag 'main' %>
<div class="content-body">

  <h1><%=h @sub_topic.name %></h1>
  <% if admin_role? %>
    <%= simple_format(@sub_topic.description)%>
    <% if admin? %>
       <span class="last-updated-by">
         <strong>Last updated by:</strong>
         <%= @sub_topic.last_updated_by %>
       </span>
        <div class = "clear"></div>
       <span class="last-updated-by">
         <strong>Created by:</strong>
         <%= @sub_topic.created_by %>
         <%= addthis_medium_button %>
       </span>
    <% end %>
  <% else %>
    <div class="jtruncate">
      <%= display_description(@sub_topic.description) %>
      <%= addthis_medium_button %>
    </div>
  <% end %>
</div>
  <% if admin_role? %>
    <div class = "actions">
      <%= link_to 'Edit', edit_topic_sub_topic_path(@sub_topic.topic,@sub_topic), :class => "action-button button rounded-borders" %>
      <%= link_to 'Add New Question', new_topic_sub_topic_question_path(@sub_topic.topic,@sub_topic), :class => "action-button button rounded-borders" %>
      <%= link_to 'Back', topic_sub_topics_path(@sub_topic.topic), :class => "action-button button rounded-borders" %>
    </div>
  <% end %>

  <div class="clear"></div><br>
  <% unless @sub_topic_questions.blank? %>
    <div class = "questions-pr">
      <%= render :partial => "questions" %>
    </div>
  <% end %>
  <div class = p-r-container>
    <% unless @popular_questions.blank? %>
      <%= render :partial => "shared/popular_ques" %>
    <% end %>
    <% unless @related_subject.blank? %>
      <%= render :partial => "related_subject" %>
    <%end%>

  </div>

