<div>
  <%if params[:image].blank? %>
    <br/><br/>
    <% end %>
</div>
<%=link_to 'Show Banner Images', images_path, :class =>'button-slider'%><br/><br/><br/>
<% form_tag(images_path, :multipart => true) do %>
  <div id="upload">
    <%= file_field_tag "image[]"  %>
    <%= text_area_tag 'url[]', "", :placeholder => "URL for the image", :class => "text-area-image"  %>
  </div>
  <div class ="clear"></div>
  <%= link_to ('Add Another','#',{:id =>'add_button_image'}) %><br/><br/>

  <%= submit_tag "upload" , :class=> 'button'%>
<% end %>

<div class = "upload_image" style="display:none">
  <div>
    <%= file_field_tag "image[]"  %>
    <%= text_area_tag 'url[]', "", :placeholder => "URL for the image", :class => "text-area-image"  %>
  </div>
</div>
