<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Refer to Quran</title>
    <link rel="shortcut icon" type="image/x-icon" href="/icon_Quran.ico">
      <%= stylesheet_link_tag 'jquery-ui-1.8.18.custom' %>
      <%= stylesheet_link_tag 'superfish' %>
      <%= stylesheet_link_tag 'menu' %>
      <%= stylesheet_link_tag 'style' %>
      <%= javascript_include_tag 'jquery' %>
      <%= javascript_include_tag 'jquery.cookies.2.2.0' %>
      <%= javascript_include_tag 'jquery.pngFix.pack' %>
      <%= javascript_include_tag 'jquery.pngFix' %>
      <%= javascript_include_tag 'hoverIntent' %>
      <%= javascript_include_tag 'jquery-ui-1.8.18.custom.min' %>
      <%= javascript_include_tag 'menu' %>
      <%= javascript_include_tag 'jquery.ui.core' %>
      <%= javascript_include_tag 'jquery.ui.position' %>
      <%= javascript_include_tag 'jquery.ui.widget' %>
      <%= javascript_include_tag 'jquery.ui.autocomplete' %>
      <%= javascript_include_tag 'jquery.watermarkinput' %>
      <%= javascript_include_tag "jquery.infinitecarousel" %>
      <%= javascript_include_tag 'script' %>
      <%= yield :head %>
  </head>
<body>

<div id="wrapper">

  <!--header-->
  <div id="header">
    <%= render :partial => "shared/header" %>
  </div>
 <!--/header-->
  <div class="clear"></div>
  <!--search-container -->
     
      <% unless @sub_topics_search.blank? && @questions_search.blank? && @topics_search.blank? && @search.blank? && @empty_search.blank?%>
       <div class="search-container1">
        <%= render :partial => "shared/search" %>
      </div>
      <%end%>
      <!--/search-container -->
  <div class="clear"></div>
  <!--content-->
  <div id="content">
    <% unless @questions_search.blank? && @sub_topics_search.blank? && @topics_search.blank? && @search.blank? && @empty_search.blank? %>
  <div id="col1-1">
  <div class="side1-nav">
   <%= render :partial => "shared/left_sidebar" %>
      </div>
       <div class="clear"></div>
      <a href="/main/duas" class="quranic-dua1"></a>
    </div>
    <%end%>
    <!-- col-1-->
    <% if @topics_search.blank? && @questions_search.blank? && @sub_topics_search.blank? && @search.blank? && @empty_search.blank?  %>
    <div id="col-1">
      <div class="side-nav">
        <%= render :partial => "shared/left_sidebar" %>
      </div>
     <% unless @verses_range.blank? && @next_verses.blank? && @prev_verses.blank? %>
      <%= render :partial => "shared/translations" %>
      <%end%>
      <div class="clear"></div>
      <a href="/main/duas" class="quranic-dua"></a>
    </div>
    <%end%>
    <!--/col-1-->
    
    <!--col-2 -->
    <div id="col-2">
      <% if !flash[:error].blank? %>
        <div class="error-box">
          <%= flash[:error] %>
        </div>
      <% end %>
      <% if !flash[:notice].blank? %>
        <div class="notice-box">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <div class="clear"></div>
      <%= yield %>
      </div>
    <!--/col-2 -->
    <div class="clear"></div>
  </div>
  <!--/content-->
</div>
  <!--footer-->
  <div id="footer">
    <%= render :partial => "shared/footer" %>
  </div>
  <!--/footer-->
  
</body>
</html>
