<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= render :partial => "layouts/meta" %>
    <link rel="shortcut icon" type="image/x-icon" href="/icon_Quran.ico">
      <%= stylesheet_link_tag 'jquery-ui-1.8.18.custom' %>
      <%= stylesheet_link_tag 'superfish' %>
      <%= stylesheet_link_tag 'menu' %>
      <%= stylesheet_link_tag 'style' %>
      <%= javascript_include_tag 'jquery' %>
      <%= javascript_include_tag 'jquery-1.7.2' %>
      <%= javascript_include_tag 'jquery-ui-1.8.18.custom.min' %>
      <%= javascript_include_tag 'sub_topics' %>
      <%= javascript_include_tag 'menu' %>
      <%= javascript_include_tag 'topics' %>
      <%= javascript_include_tag 'jquery.cookies.2.2.0' %>
      <%= javascript_include_tag 'jquery.pngFix.pack' %>
      <%= javascript_include_tag 'jquery.pngFix' %>
      <%= javascript_include_tag 'hoverIntent' %>

      <%= javascript_include_tag 'jquery.ui.core' %>
      <%= javascript_include_tag 'jquery.ui.position' %>
      <%= javascript_include_tag 'jquery.ui.widget' %>
      <%= javascript_include_tag 'jquery.ui.autocomplete' %>
      <%= javascript_include_tag 'jquery.ui.sortable' %>
      <%= javascript_include_tag 'jquery.watermarkinput' %>
      <%= javascript_include_tag "jquery.infinitecarousel" %>
      <%= javascript_include_tag 'script' %>
      <%= javascript_include_tag 'ckeditor/ckeditor' %>
      <%= javascript_include_tag 'main' %>
      <%= yield :head %>
          <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
      <script type="text/javascript">stLight.options({publisher: "ur-fb6aa0f2-f7d2-deff-7558-3becde1361ae"});</script>
  </head>
<body>

<div id="wrapper">

  <!--header-->
  <div id="header">
    <%= render :partial => "shared/header" %>
  </div>
 <!--/header-->
  <div class="clear"></div>
  <!--content-->
  <div id="content">
    <% unless @questions_search.blank? && @sub_topics_search.blank? && @topics_search.blank? && @search.blank? && @empty_search.blank?    %>
      <div id="col1-1">
        <div class="side-nav" style ="top:-148px;">
          <%= render :partial => "shared/left_sidebar" %>
        </div>
        <div class="clear"></div>
        <a href="/main/duas" class="quranic-dua1"></a>
      </div>
    <%end%>
    <!-- col-1-->
    <% if @topics_search.blank? && @questions_search.blank? && @sub_topics_search.blank? && @search.blank? && @empty_search.blank? && (@verses_range.blank? && @next_verses.blank? && @prev_verses.blank?) %>
    <div id="col-1">
      <div class="side-nav">
        <%= render :partial => "shared/left_sidebar" %>
      </div>
     <% unless @verses_range.blank? && @next_verses.blank? && @prev_verses.blank? %>

      <%end%>
      <div class="clear"></div>
      <a href="/main/duas" class="quranic-dua"></a>
    </div>
       <%= render :partial => "shared/admin_menu" %>
    <!--col-2 -->
    <div id="col-2">
      <% if !flash[:error].blank? %>
        <div class="error-box">
          <%= flash[:error] %>
        </div>
      <% end %>
      <% if !flash[:notice].blank? %>
        <div class="notice-box">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <div class="clear"></div>
      <%= yield %>
    </div>
    <!--/col-2 -->
    <% elsif @verses_range.present? || @next_verses.present? || @prev_verses.present? %>
      <div id="col-">
      <% if !flash[:error].blank? %>
        <div class="error-box">
          <%= flash[:error] %>
        </div>
      <% end %>
      <% if !flash[:notice].blank? %>
        <div class="notice-box">
          <%= flash[:notice] %>
        </div>
      <% end %>
        <%= yield %>
    </div>
    <!--/col-2 -->
    <% else %>
      <div id="col-2">
      <% if !flash[:error].blank? %>
        <div class="error-box">
          <%= flash[:error] %>
        </div>
      <% end %>
      <% if !flash[:notice].blank? %>
        <div class="notice-box">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <div class="clear"></div>
      <%= yield %>
    </div>
    <% end %>
    <!--/col-1-->

    <div class="clear"></div>
  </div>
  <!--/content-->
</div>
  <!--footer-->
  <div id="footer">
    <%= render :partial => "shared/footer" %>
  </div>
  <!--/footer-->

</body>
</html>
